body {
    margin: 0;
    padding: 0;
}

#target {
    width: 600px;
    position: relative;
    left: 50%;
    margin-left: -300px;
    margin-top: 100px;
    height: 250px;
    border: 1px solid #ccc;
}

#settings {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 20px;
    position: relative;
}

.management {
    background: #333;
    color: #FFF;
    border-radius: 4px;
    border: 0;
    padding: 10px 14px;
}