body, html {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/wild_oliva.png) left top;
}

#target {
    width: 1000px;
    position: relative;
    left: 50%;
    margin-left: -500px;
    margin-top: 100px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px #999;
    background-color: #fff;
}

#settings {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    margin-top: 20px;
    position: relative;
}

fieldset {
    display: inline-block;
    float: left;
    vertical-align: top;
    border-radius: 10px;
    border:  1px solid #ccc;
    margin: 10px 5px;
    background-color: #fff;
}

legend {
    font-weight: 700;
    color: #000;
    background-color: #fff;
    padding: 2px 3px;
    border-radius: 5px 5px 0 0;
}

input[type=range] {
    width: 205px;
}

.management {
    background: #333;
    color: #FFF;
    border-radius: 4px;
    border: 0;
    padding: 10px 14px;
}

label {
    display: block;
    width: 205px;
    margin: 10px 0;
}

label b {
    float: right;
}

#playManagmentBlock {
    border: none;
    margin-top: 20px;
}

#playManagment {
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: 2px 2px 10px #999;
    font-weight: 700;
}

#playManagment:hover {
    cursor: pointer;
}

#playManagment:active {
    box-shadow: inset 2px 2px 10px #999;
}

#loading {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../img/loading.gif) 50% 50% no-repeat;
    opacity: 0.8;
    z-index: 2;
}

input[name=source] {
    vertical-align: -3px;
}